*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    font-family: Arial, sans-serif;
    padding: 10px;
  }
h1{
    margin-bottom: 10px;
    text-align: center;
}
.controls {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  
  button {
    margin-right: 5px;
    padding: 6px 12px;
    cursor: pointer;
  }
  .canvas-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  canvas {
    border: 1px solid black;
   

    background-color:rgb(106, 188, 158)
   
  }